// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  box-sizing: border-box;
  // background-image: linear-gradient(120deg, #2469A3 0%, #68B0E2 100%);
  background-color: #68B0E2;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232469a3' fill-opacity='0.1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'B612', sans-serif;
  color: white;
  *, *:before, *:after {
  box-sizing: inherit;
  }
}

.container {
  display: grid;
  height: calc(100vh - 20px);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  margin: 0px;
  grid-template-areas: "header" "main" "note" "footer";
}

.searchbar {
  grid-area: header;
  // background-color: #2469A3;
  background-color: #2469a3;
background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2368b0e2' fill-opacity='0.1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 40px;
}

code {
  color: #CAE1B6;
  padding: 2px;
}

.main {
  grid-area: main;
  // background-color: #68B0E2;
}

.station {
  display: inline-block;
  width: 100%;
  padding: 5px;
  &:not(:last-of-type) {
   border-bottom: 2px solid #2469A3;
  }
  .bikes {
    float: left;
    padding-top: 1%;
    margin: 0;
    max-width: 23%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 20%;
    display: block;
    .count {
      color: #CAE1B6;
      font-weight: bold;
      font-size: 1.8rem;
      padding-top: 15px;
    }
  }
  .name {
    font-size: 1.2rem;
    //text-decoration: none;
    color: white;
  }
  .station-info {
    border-left: 2px solid #2469A3;
    max-width: 75%;
    padding-left: 5%;
    float: left;
    margin-bottom: 5px;
  }
  .station-distance {
    font-size: 1em;
    align-self: center;
    img {
      width: 32px;
      align-self: center;
    }
  }
}

.message {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 4rem;
  margin: 3rem;
  color: #CAE1B6;
  background-color: #68B0E2;
  box-shadow: 6px 6px 2px 1px #2469A3
}
.hide {
  display: none;
}

.note {
  grid-area: note;
  text-align: right;
}

.footer {
  grid-area: footer;
  background-color: #2469A3;
  display: inline-flex;
  justify-content: space-between;
  code {
    padding: 2px 10px;
    a {
      color: white;
    }
  }
}
